{% extends 'layouts/base.html' %}

{% block title %}
Hospital
{% endblock %}

{% block body %}
<div class="container mt-5">
    {% include 'partials/_message.html' %}
    <a href="{% url 'hospital.create' %}" class="btn btn-primary mb-2">ADD NEW HOSPITAL</a>
    <div class="row">
        <div class="col-md-10">
            <form class="d-flex mb-3">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="card">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Full Name</th>
                            <th>Short Name</th>
                            <th>Category</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Add Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for val in data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ val.full_name }}</td>
                            <td>{{ val.short_name }}</td>
                            <td>{{ val.category }}</td>
                            <td>{{ val.contact }}</td>
                            <td>{{ val.address }}</td>
                            <td>{{ val.added_at }}</td>
                            <td><a href="{% url 'hospital.edit' val.id %}">Edit</a></td>
                            <td><a href="{% url 'hospital.delete' val.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-mnd-2">
            Filter Data
        </div>
    </div>
</div>
{% endblock %}